<html lang="en" xmlns="http://www.w3.org/1999/html"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home | Proxy API</title>
        <link rel="icon" href="favicon.ico" type="image/png">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/linericon/style.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/owl-carousel/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="https://proxyapi.co.ke/home/css/style.css">
    </head>
    <body data-gr-c-s-loaded="true">

        <!--================Header Menu Area =================-->
	    <header class="header_area">
	        <div class="main_menu">
	            <nav class="navbar navbar-expand-lg navbar-light">
	                <div class="container box_1620">
	                    <!-- Brand and toggle get grouped for better mobile display -->
	                    <a class="navbar-brand logo_h" href="index.html">
		                    <img src="https://proxyapi.co.ke/home/img/logo-light.png" width="40">
	                    </a>
	                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <!-- Collect the nav links, forms, and other content for toggling -->
	                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
	                        <ul class="nav navbar-nav menu_nav justify-content-end">
	                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
	                            <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
	                            <li class="nav-item">
	                                <a class="nav-link" href="#pricing">Pricing</a>
	                            </li>
	                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
	                            <li class="nav-item submenu dropdown">
	                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
	                                <ul class="dropdown-menu">
	                                    <li class="nav-item"><a class="nav-link" href="https://api.proxyapi.co.ke" target="_blank">API Portal</a></li>
	                                    <li class="nav-item"><a class="nav-link" href="https://docs.proxyapi.co.ke/v1/" target="_blank">API Documentation</a></li>
	                                    <li class="nav-item"><a class="nav-link" href="https://docs.proxyapi.co.ke/v1/swagger/" target="_blank">OpenAPI Spec</a></li>
	                                </ul>
	                            </li>
	                        </ul>
	                        <ul class="navbar-right">
	                            <li class="nav-item">
	                                <a class="nav-link" href="https://api.proxyapi.co.ke" target="_blank"><button class="button button-header bg">Sign up</button></a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </nav>
	        </div>
	    </header>

	    <!--================Header Menu Area =================-->
	    <main class="side-main">
	        <!--================ Hero sm Banner start =================-->
	        <section class="hero-banner mb-30px">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-7">
	                        <div class="hero-banner__img">
	                            <img class="img-fluid" src="https://proxyapi.co.ke/home/img/banner/api-banner.png" alt="">
	                        </div>
	                    </div>
	                    <div class="col-lg-5 pt-5">
	                        <div class="hero-banner__content">
	                            <h1>Flat file CSMs</h1>
	                            <p>We understand what you need...</p>
	                            <a class="button bg" href="https://docs.proxyapi.co.ke/v1" target="_blank">Find out more</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <!--================ Hero sm Banner end =================-->

	        <!--================ Feature section start =================-->
	        <section class="section-margin">
	            <div class="container">
	                <div class="section-intro pb-85px text-center">
	                    <h2 class="section-intro__title">Simplest REST/JSON API with both Request and Callback tracing in real time</h2>
	                    <p class="section-intro__subtitle">Proxy API allows you to view exactly what happened during the lifetime of a request between all parties involved.</p>
	                    <p>Let us focus on the API, while you focus on the money.</p>
	                </div>
	                <div class="container">
	                    <div class="row">
		                    <div class="col-lg-3">
	                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
	                                        <span class="card-feature__icon">
	                                        <i class="ti-home"></i>
	                                        </span>
	                                <h3 class="card-feature__title">Fastest onboarding ever!</h3>
	                                <p class="card-feature__subtitle">No 'Go Live' forms to fill.
	                                    <br><br>No waiting for approvals.
	                                    <br><br>No follow-up emails.
	                                    <br><br>If you own the shortcode, you own the process!</p>
	                            </div>
	                        </div>
	                        <div class="col-lg-3">
	                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
	                                        <span class="card-feature__icon">
	                                        <i class="ti-list"></i>
	                                        </span>
	                                <h3 class="card-feature__title">Request and Callback Logs</h3>
	                                <p class="card-feature__subtitle">View logs of requests in real time and see what's happening behind the scenes.
		                                <br><br>No more "What happened to my callbacks...???"**
		                                <br><br>Callback data verification for API callbacks
	                                </p>
	                            </div>
	                        </div>
	                        <div class="col-lg-3">
	                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
	                                        <span class="card-feature__icon">
	                                        <i class="ti-google"></i>
	                                        </span>
	                                <h3 class="card-feature__title">One-click sign-on</h3>
	                                <p class="card-feature__subtitle">We use existing SSO providers for the smoothest onboarding possible.</p>
	                            </div>
	                        </div>
	                        <div class="col-lg-3">
	                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
	                                        <span class="card-feature__icon">
	                                        <i class="ti-headphone-alt"></i>
	                                        </span>
	                                <h3 class="card-feature__title">Real Time Support</h3>
	                                <p class="card-feature__subtitle">Get assitance on the API directly from the developers via our Telegram Channels. No emails or online chats necessary.</p>
	                            </div>
	                        </div>

	                    </div>
	                </div>
	            </div>
	        </section>
	        <!--================ Feature section end =================-->

	        <!--================ Offer section start =================-->
	        <section class="section-margin" id="features">
	            <div class="container">
	                <div class="section-intro pb-85px text-center">
	                    <h2 class="section-intro__title">Features We Offer</h2>
	                    <!--          <p class="section-intro__subtitle">Vel aliquam quis, nulla pede mi commodo tristique nam hac. Luctus torquent velit felis commodo pellentesque nulla cras. Tincidunt hacvel alivquam quis nulla pede mi commodo tristique nam hac  luctus torquent</p>-->
	                </div>
	                <div class="row">
	                    <div class="col-lg-6">
	                        <div class="row offer-single-wrapper">
	                            <div class="col-lg-6 offer-single">
	                                <div class="card offer-single__content text-center">
	                                            <span class="offer-single__icon">
	                                            <i class="ti-home"></i>
	                                            </span>
	                                    <h4>Easy To Integrate</h4>
	                                    <p>We try to make your integrations as seamless as possible.</p>
	                                </div>
	                            </div>
	                            <div class="col-lg-6 offer-single">
	                                <div class="card offer-single__content text-center">
	                                            <span class="offer-single__icon">
	                                            <i class="ti-stats-up"></i>
	                                            </span>
	                                    <h4>Analytics Tool**</h4>
	                                    <p>Part of our future upgrades to the API.</p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row offer-single-wrapper">
	                            <div class="col-lg-6 offer-single">
	                                <div class="card offer-single__content text-center">
	                                            <span class="offer-single__icon">
	                                            <i class="ti-exchange-vertical"></i>
	                                            </span>
	                                    <h4>Logs and Request Traces</h4>
	                                    <p>We show you exactly what is happening as it happens.</p>
	                                </div>
	                            </div>
	                            <div class="col-lg-6 offer-single">
	                                <div class="card offer-single__content text-center">
	                                            <span class="offer-single__icon">
	                                            <i class="ti-user"></i>
	                                            </span>
	                                    <h4>Intuitive API Interface.</h4>
	                                    <p>We create APIs to be used by humans, not robots.</p>
	                                </div>
	                            </div>

		                        <div class="col-lg-6 offer-single">
			                        <div class="card offer-single__content text-center">
                                        <span class="offer-single__icon">
                                            <i class="ti-user"></i>
                                        </span>
				                        <h4>Security.</h4>
				                        <p>Security is our top priority. All our requests are strictly performed on HTTPS connections. Coupled with a private VPN connection to Safaricom Broker and encryption of all sensitive data in the databases, we aim to provide the highest security standards possible.</p>
			                        </div>
		                        </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="offer-single__img">
	                            <img class="img-fluid" src="https://proxyapi.co.ke/home/img/home/offer.png" alt="">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <!--================ Offer section end =================-->

	        <!--================ Pricing section start =================-->
	        <section class="section-margin" id="pricing">
	            <div class="container">
	                <div class="section-intro pb-2 text-center">
	                    <h2 class="section-intro__title">Pricing Plans</h2>
	                </div>

	                <div class="row">
	                    <div class="col-md-4 offset-4 col-lg-4 mb-4 mb-lg-0">
	                        <div class="card text-center card-pricing">
	                            <div class="card-pricing__header">
									<p>There's only one pricing plan now, and its...</p>
	                                <h4>FREE!</h4>
	                            </div>
								<div>
									<p>Proxy API is no longer charging for its services. You get all the below for free!</p>
								</div>
	                            <ul class="card-pricing__list">
	                                <li><i class="ti-check"></i>Full log and traces access</li>
	                                <li><i class="ti-check"></i>Full portal access</li>
	                                <li><i class="ti-check"></i>Live support from our Telegram Channels</li>
		                            <li><i class="ti-check"></i>API Callback and data verification</li>
	                                <li>Statistics on all requests going through the Proxy *</li>
	                                <li><i class="ti-check"></i>Suitable for everyday users and businesses with low to medium transactions daily.</li>
	                            </ul>
	                            <div class="card-pricing__footer">
	                                <a href="https://api.proxyapi.co.ke" target="_blank"><button class="button button-light">Get Started</button></a>
	                            </div>
	                        </div>
	                    </div>

<!--		                <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">-->
<!--	                        <div class="card text-center card-pricing">-->
<!--	                            <div class="card-pricing__header">-->
<!--	                                <h4>High Volume</h4>-->
<!--	                                <p>-->
<!--	                                    Suitable for those with large volumes of transactions.-->
<!--	                                    <br>-->
<!--	                                    * Planned future features for API.-->
<!--	                                </p>-->
<!--	                                <h1 class="card-pricing__price"><a class="nav-link" href="contact.html">Contact Us</a></h1>-->
<!--	                            </div>-->
<!--	                            <ul class="card-pricing__list">-->
<!--	                                <li><i class="ti-check"></i>All features of Default Plan</li>-->
<!--	                                <li>Download logs of callbacks not received on client end.*</li>-->
<!--	                                <li>Custom data formats for callbacks.*</li>-->
<!--	                                <li>Streaming logs on portal.*</li>-->
<!--	                                <li><i class="ti-check"></i>Suitable for users and business with high API calls daily (> 100,000)</li>-->
<!--	                            </ul>-->
<!--	                            <div class="card-pricing__footer">-->
<!--	                                <a href="https://api.proxyapi.co.ke" target="_blank"><button class="button button-light">Get Started</button></a>-->
<!--	                            </div>-->
<!--	                        </div>-->
<!--	                    </div>-->

	                </div>
	            </div>
	        </section>
	        <!--================ Pricing section end =================-->
	    </main>

        <!-- ================ start footer Area ================= -->
	    <footer class="footer-area section-gap">
	        <div class="container">
	            <div class="row">
	                <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
	                    <h4>Quick Links</h4>
	                    <ul>
	                        <li><a href="https://api.proxyapi.co.ke" target="_blank">API Portal</a></li>
	                        <li><a href="https://docs.proxyapi.co.ke/v1/" target="_blank">API Documentation</a></li>
	                        <li><a href="https://docs.proxyapi.co.ke/v1/swagger/index.html" target="_blank">API Swagger / OpenAPI Specification</a></li>
	                    </ul>
	                </div>
		            <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
			            <h4>Resources</h4>
			            <ul>
				            <li><a href="terms_conditions.html">Terms and Conditions</a></li>
			            </ul>
		            </div>
	            </div>
	            <div class="footer-bottom row align-items-center text-center text-lg-left">
	                <p class="footer-text m-0 col-lg-8 col-md-12">

	                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	                    Copyright ©Novacom Technologies Ltd.<script>document.write(new Date().getFullYear());</script>2020 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	                </p>

					<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
<!--						<a href="#"><i class="fab fa-facebook-f"></i></a>-->
						<a href="https://twitter.com/ProxyAPI_KE"><i class="fab fa-twitter"></i></a>
<!--						<a href="#"><i class="fab fa-dribbble"></i></a>-->
					</div>
	            </div>
	        </div>
	    </footer>

	    <!-- ================ End footer Area ================= -->
	    <script src="https://proxyapi.co.ke/home/vendors/jquery/jquery-3.2.1.min.js"></script>
	    <script src="https://proxyapi.co.ke/home/vendors/bootstrap/bootstrap.bundle.min.js"></script>
	    <script src="https://proxyapi.co.ke/home/vendors/owl-carousel/owl.carousel.min.js"></script>
	    <script src="https://proxyapi.co.ke/home/js/jquery.ajaxchimp.min.js"></script>
	    <script src="https://proxyapi.co.ke/home/js/mail-script.js"></script>
	    <script src="https://proxyapi.co.ke/home/js/main.js"></script>
    
</body></html>